    <div class="footer banner flexCol">
      <p>Made by <a href="bkung.com">Bernard Kung</a></p>
      <p>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
  </body>
</html>