body {
  font-family: 'Open Sans', sans-serif;
  background-color: #7E787B;
  width: 100%;
  height: 100%;
}

.container {
  /*background-color: #fff;*/
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  width: 95%;
  margin: 10px auto;
  padding: 0;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.banner {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A100D;
  color: #F2F4F3;
}

/*Search Bar Styles*/
#searchForm {
  display: flex;
  flex-flow: row nowrap;
}

#searchBar {
  width: 90%;
  height: 40px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 20px;
}

#searchBar:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

#searchBar:active {
  border: none;
  box-shadow: none;
  outline: none;
}

#searchSubmit {
  width: 10%;
  height: 40px;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

#searchList {
  /*position: relative;*/
  /*display: inline-block;*/
  width: 100%;
}

/*#searchList-items{*/
/*  position: absolute;*/
/*  border: 1px solid #d4d4d4;*/
/*  border-bottom: none;*/
/*  border-top: none;*/
/*  z-index: 99;*/
/*  top: 100%;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

.autocomplete-items div {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* Weather Refresh Button Styles */

#refreshWeather {
  background-color: #0496ff;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

#refreshWeather > i {
  color: white;
}

#refreshWeather:active {
  border: 2px solid #0496ff;
  color: #0496ff;
  background-color: #fff;
}

#refreshWeather:active > i {
  color: #0496ff;
}

#refreshWeather:focus {
  border: none;
  outline: none;
}


/* Weather Ribbon Styles */

#weatherRibbon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ribbonItem {
  min-width: 4%;
  height: 120px;
  text-align: center;
  margin: 0;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
}

.ribbonItem:hover {
  box-shadow: 0 4px 8px 0 #ffcf0f, 0 6px 20px 0 #ffcf66;
}

.ribbonItem > p {
  margin: 0;
}

.ribbonItem > .ribbonCond {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ribbonItem > .ribbonCond img {
  height: 40px;
  width: 100%;
}

.ribbonItem > .ribbonTemp {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.ribbonTempUnit {
  font-size: 0.6rem;
}

.ribbonItem > .ribbonHour {
  font-size: 1rem;
  height: 20px;
}

.ribbonItem > .ribbonAmpm {
  font-size: 0.6rem;
  height: 20px;
}

/* Hourly Weather Detail */
#weatherDetail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  font-family: 'Source Sans Pro', sans-serif;
}

#weatherDetail > .detailRibbon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#detailTop {
  height: 30px;
  background-color: #343A40;;
  color: #fff;
}

#detailBot {
  height: 90px;
}

.detailRibbon > .detailBlock {
  height: 100%;
  margin: 0;
}

#detailBot > #detailTemp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

.detailTempMisc {
  font-size: 40px;
}

#detailBot > #detailDesc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 0 1.1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

#detailBot > .detailBlock > p {
  padding: 0;
  margin: 0;
  font-size: 13px;
}


/* Items */
#items {
  color: #000;
  /*display: flex;*/
  /*flex-flow: column wrap;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.itemSlot {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #343A40;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
}

/*.itemSlot:first-child {*/
/*  margin-top: 0;*/
/*}*/

/*.itemSlot:last-child {*/
/*  margin-bottom: 0;*/
/*}*/

.itemSlotIcon {
  height: 50px;
  width: 50px;
  margin: 0 10;
  object-fit: contain;
}

.itemSlotTitle {
  min-width: 200px;
  padding-left: 15px;
}

