/*https://poolors.com/fffeff-1a1f2b-65656b-de5d5a*/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #182c3c;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flexCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.subcontainer {
  width: 95%;
  margin: 10px auto;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.banner {
  width: 100%;
  min-height: 40px;
  margin: 0;
  padding: 0;
  background-color: #120F0F;
  color: #ECECEC;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Search Bar Styles*/
#searchForm {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
}

#searchBar {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 1.2rem;
}

#searchBar:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

#searchBar:active {
  border: none;
  box-shadow: none;
  outline: none;
}

#searchSubmit {
  width: 10%;
  height: 40px;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

#searchList {
  width: 100%;
  background-color: red;
}

.autocomplete-items div {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* Weather Ribbon Styles */
#weatherRibbon {
  color: #f2efe2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.ribbonItem {
  min-width: 4%;
  height: 120px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0;
}

.ribbonItem:hover {
  /*box-shadow: 0 4px 8px 0 #6bcdfe, 0 6px 20px 0 #6bcdfe;*/
  box-shadow: 0 0 10px #6bcdfe;
}

.ribbonItem > p {
  margin: 0;
}

.ribbonItem > .ribbonCond {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ribbonItem > .ribbonCond img {
  height: 40px;
  width: 40px;
}

.ribbonItem > .ribbonTemp {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.ribbonTempUnit {
  font-size: 0.6rem;
}

.ribbonItem > .ribbonHour {
  font-size: 1rem;
  height: 20px;
}

.ribbonItem > .ribbonAmpm {
  font-size: 0.6rem;
  height: 20px;
}

/* Hourly Weather Detail */

#weatherDetail {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ECECEC;
}

#detailTime {
  font-size: 2rem;
  font-weight: 600;
}

#detailTop > p {
  margin: 0;
}

#detailLocation {
  text-transform: uppercase;
}

.detailTemp {
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

#detailDesc {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#detailDesc > div {
  margin: 0.2rem 0;
}

#detailCond {
  font-size: 2rem;
  text-transform: capitalize;
}


/* Items */
#items {
  color: #000;
}

.itemSlot {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.itemSlotIcon {
  height: 50px;
  width: 50px;
  margin: 0 10;
}

.itemSlotTitle {
  min-width: 200px;
  padding-left: 15px;
}

.hidden {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}